#Bucle For

In [1]:
# Tabla de multiplicar
tablaDel = int(input("Que tabla quieres ver? "))
print(f"Tabla del {tablaDel}")
for contador in range(1,11):
  resultado = tablaDel * contador
  print(f"{tablaDel} por {contador} es igual a {resultado}")
print("Fin de la tabla")

Que tabla quieres ver? 6
Tabla del 6
6 por 1 es igual a 6
6 por 2 es igual a 12
6 por 3 es igual a 18
6 por 4 es igual a 24
6 por 5 es igual a 30
6 por 6 es igual a 36
6 por 7 es igual a 42
6 por 8 es igual a 48
6 por 9 es igual a 54
6 por 10 es igual a 60
Fin de la tabla

In [2]:
lista = [1,2,3,4,5]
tupla = (1,2,4,5,6,3,2,1)
lista02 = [(1,2),(2,4),(3,4)]
diccionario = {'e':23,'f':25,'g':32}

In [3]:
for numero in lista:
  print(numero)

1
2
3
4
5

In [4]:
for numero in tupla:
  print(numero)

1
2
4
5
6
3
2
1

In [8]:
for numero in lista02:
  print(numero)
  print(numero[0])
  print(numero[1])

(1, 2)
1
2
(2, 4)
2
4
(3, 4)
3
4

In [9]:
for clave, valor in diccionario.items(): #.values() .keys()
  print(clave)
  print(valor)

e
23
f
25
g
32